<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.corruptedark.openchaoschess">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AchievementDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AchievementsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MultiPlayerBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SinglePlayerBoard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecretActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>